extends layout

block content
  h1= title
  .input
   form(method="post")
    input(name="method")
    input(name="url")
    button Send
  .output
  
   .error
   if (error)
    p= error
  
   .response
   if (response)
    p Response Status #{response.status} #{response.statusText}
    p= response.data
    
    .headers
    h2 Headers
    each header,key in response.headers
     p= key+":"+header
   
   .request
    each value,key in request
     p= key+":"+value
    