extends layout

block content
  h1= title
  .input
   form(method="post")
    //- input(name="method")
    select(name="method")
     option GET
     option HEAD
     option POST
     option PUT
     option DELETE
     option CONNECT
     option OPTIONS
     option TRACE
    input(name="url")
    button Send
  .output
  
   .error
   if (error)
    p= error
  
   .response
   if (response)
    p Response Status #{response.status} #{response.statusText}
    p= response.data
    
    .headers
    h3 Headers
    each header,key in response.headers
     p= key+":"+header
   
   if (request)
    .request
    h3 Request
    each value,key in request
     p= key+":"+value
    